/* ==================== CSS VARIABLE ===================== */
:root {
    --main-color: rgb(192, 72, 192);
    --text-light: #374151;
    --text-dark: #e5e7eb;
    --bg-light: #fff;
    --bg-dark: #121212;

    --margin-container: 2rem;
}

/* ==================== CSS RESET ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--text-light);
    background-color: var(--bg-light);
    transition: all 0.3s;
}

.container {
    position: relative;
    margin: var(--margin-container);
    height: calc(100vh - (var(--margin-container) * 2) - (0.85rem * 2));
}

/* ==================== TRANSITION COLOR ===================== */
main,
.instruction__highlight,
.main__icon::after,
footer :is(i, a) {
    transition-property: color, border-color, background-color;
    transition-duration: 0.3s;
}

/* ==================== DARK THEME ===================== */
body.dark,
body.dark .modal__box {
    color: var(--text-dark);
    background-color: var(--bg-dark);
}

body.dark .modal__box {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

body.dark .main__icon::after {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ==================== HEADER ===================== */
header {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.2rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

header i,
header a {
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

header a {
    color: inherit;
    text-decoration: none;
    transform: scale(1.1);
}

header a:hover {
    transform: scale(1.25);
}

header i:hover,
header a:hover {
    color: var(--main-color);
}

#btn-story:hover {
    transform: translateY(-3px);
}

#btn-theme:hover {
    transform: rotate(45deg);
}

/* ==================== MAIN ===================== */
main {
    height: 100%;
    border: 3px dashed var(--main-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
    text-align: center;
}

.main__icon {
    font-size: 10rem;
    position: relative;
    transition: all 0.3s;
}

.main__icon::after {
    content: "";
    width: 60%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    bottom: 15px;
    transform: scale(0);
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.3s;
}

main:hover .main__icon {
    transform: translateY(-20px);
}

main:hover .main__icon::after {
    bottom: 0;
    transform: translateX(35%) scale(1);
}

h1 {
    text-transform: uppercase;
}

.instruction {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.instruction__highlight {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
}

.instruction br {
    display: none;
}

.instruction2 {
    font-style: italic;
    font-weight: 800;
}

/* ==================== FOOTER ===================== */
footer p {
    text-align: center;
    font-size: 0.85rem;
}

footer :is(i, a) {
    color: var(--main-color);
}

footer a {
    font-weight: bold;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    transition: 0.3s;
}

footer a:hover {
    text-decoration-style: solid;
    text-underline-offset: 1px;
}

/* ==================== MODAL ===================== */
.modal {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: transparent;
    backdrop-filter: blur(6px);
}

.modal[open] {
    display: grid;
    place-items: center;
}

.modal__box {
    background-color: var(--bg-light);
    color: var(--text-light);
    max-width: 450px;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.modal__box h2 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.modal__box p {
    line-height: 1.3;
}

.modal__box a {
    color: var(--main-color);
    font-weight: bold;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    transition: 0.3s;
}

.modal__box a:hover {
    text-decoration-style: solid;
    text-underline-offset: 1px;
}

.modal__box form {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal__box .btn-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    line-height: 15px;
    transition: transform 0.3s;
}

.modal__box .btn-close:hover {
    transform: scale(1.1);
}

/* ==================== RESPONSIVE ===================== */
@media screen and (max-width: 575px) {
    .main__icon {
        font-size: 8rem;
    }

    .instruction br {
        display: block;
    }

    h1 {
        font-size: 1.8rem;
    }

    .modal__box {
        padding-inline: 1.5rem;
    }
}

@media screen and (max-width: 425px) {
    .container {
        --margin-container: 1rem;
    }

    .modal__box {
        margin: 0.75rem;
        padding-inline: 1rem;
    }

    .modal__box .btn-close {
        width: 25px;
        height: 25px;
        font-size: 1rem;
        line-height: 12.5px;
    }
}

@media screen and (max-width: 325px) {
    .modal__box {
        padding-block: 2.75rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    p {
        font-size: 0.85rem;
    }
}
