/* ==================== CSS VARIABLE ===================== */
:root {
    --main-color: rgb(192, 72, 192);
    --text-light: #374151;
    --text-dark: #e5e7eb;
    --bg-light: #fff;
    --bg-dark: #121212;

    --margin-container: 2rem;
}

/* ==================== CSS RESET ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--text-light);
    background-color: var(--bg-light);
}

.container {
    position: relative;
    margin: var(--margin-container);
    height: calc(100vh - (var(--margin-container) * 2) - (0.85rem * 2));
}

/* ==================== DARK THEME ===================== */
body.dark {
    color: var(--text-dark);
    background-color: var(--bg-dark);
}

/* ==================== HEADER ===================== */
header {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    gap: 0.6rem;
    font-size: 1.2rem;
}

header > i {
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

header > i:hover {
    color: var(--main-color);
}

#btn-story:hover {
    transform: translateY(-3px);
}

#btn-theme:hover {
    transform: rotate(45deg);
}

/* ==================== MAIN ===================== */
main {
    height: 100%;
    border: 3px dashed var(--main-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
    text-align: center;
}

.main__icon {
    font-size: 10rem;
    position: relative;
    transition: all 0.3s;
}

.main__icon::after {
    content: "";
    width: 60%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    bottom: 15px;
    transform: scale(0);
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.3s;
}

main:hover .main__icon {
    transform: translateY(-20px);
}

main:hover .main__icon::after {
    bottom: 0;
    transform: translateX(35%) scale(1);
}

h1 {
    text-transform: uppercase;
}

.instruction {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.instruction__highlight {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
}

.instruction br {
    display: none;
}

.instruction2 {
    font-style: italic;
    font-weight: 800;
}

/* ==================== FOOTER ===================== */
footer p {
    text-align: center;
    font-size: 0.85rem;
}

footer :is(i, a) {
    color: var(--main-color);
}

footer a {
    font-weight: bold;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    transition: 0.3s;
}

footer a:hover {
    text-decoration-style: solid;
    text-underline-offset: 1px;
}

/* ==================== RESPONSIVE ===================== */
@media screen and (max-width: 575px) {
    .main__icon {
        font-size: 8rem;
    }

    .instruction br {
        display: block;
    }

    h1 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    .container {
        --margin-container: 1rem;
    }
}
